<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
          <h1>Please Login</h1>
    
            <form method="post" action="{% url 'level5:user_login' %}">
              {% csrf_token %}
              {# A more "HTML" way of creating the login form#}
              <label for="username">Username:</label>
              <input type="text" name="username" placeholder="Username">
    
              <label for="password"></label>
              <input type="password" name="password">
    
              <input type="submit" name="" value="Login">
    
            </form>
    
        </div>
      </div>

</body>
</html>