<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database List</title>
</head>

<body>

    {% if webpg %}
    <ol type="A">
        {% for p in webpg %}
        <li>Web Page Data</li> 
        <ul>
            <li>{{p.topic}}</li>
            <li>{{p.name}}</li>
            <li>{{p.url}}</li>
        </ul>
        {% endfor %}
    </ol>
    {% endif %}

</body>
</html>